body {
  background-color: #1f081e;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

#title {
    text-decoration: underline;
    font-size: 41px;
}

.bttn {
    width: 200px;
    border: 1px solid #370909;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    background-color: #170509;
    color: white;
    transition: 0.3s ease;
    height: 200px;
     justify-content: center;
  align-items: center;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.bttn:hover {
  transform: scale(1.06);
}

  .bttn-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
      justify-content: center;
  align-items: center;
text-align: center;
  }

  .bttn2 {
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
color: white;
  background: #1c0705;
  border: 2px solid #1c0705;
  padding: 12px 24px;
  border-radius: 6px;
  box-shadow: 0 0 8px #ffb6c1;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin: 12px 10px 18px 10px;
}

img {
  width: 100px;
  height: 100px;
}

#thetime {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 12px;
    color: white;
}

input#gxSearch {
  background: #370909;
  color: white;
  width: 400px;
  max-width: 90vw;
  padding: 10px;
  border-radius: 20px;
  outline: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  box-shadow: 0 0 10px #ffb6c1;
  margin-bottom: 14px;
  transition: 0.3s ease;
  font-size: 16px;
  }