html,body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.4s, color 0.3s;
  background-color: #1f081e;
    color: white;
    font-family: monospace;
    text-align: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#title {
    text-decoration: underline;
    font-size: 41px;
}

#bttn {
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
color: white;
  background: #1c0705;
  border: 2px solid #1c0705;
  padding: 12px 24px;
  border-radius: 6px;
  box-shadow: 0 0 8px var(--button-border-color, #ffb6c1);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin: 12px 10px 18px 10px;
}

#bttn:hover {
  color: var(--background-color);
  box-shadow: 0 0 16px var(--button-border-color, #ffb6c1);
  transform: scale(1.06);
  text-decoration: underline;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}